PORT=3000
HOST="127.0.0.1"

DB_HOST="mypostgres.local"
DB_USER=myuser
DB_PASSWORD=mypassword
DB_NAME=mydatabase

DOMAIN_VERIFICATION_TTL=3600

DOMAIN_VERIFICATION_WORKER_POOL_SIZE=50

RATELIMIT_MAX=60
RATELIMIT_WINDOW_MS=60000

WEBHOOK_URL="http://example.com/webhook"